{% extends "base.html" %}
{% block content %}

<div class="box">
    <h1>Add Password</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <p>{{ message }}</p>  
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method="post">
        <input type="text" name="app" placeholder="App" required="required"/>
        <input type="text" name="password" placeholder="Password" required="required"/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Generate Password</button>
        <a href="{{ url_for('secrets') }}" class="text-muted float-right">Cancel</a>
    </form>
</div>

{% endblock %}