{% extends "base.html" %} {% block content %}
<h2 align="center" class="text-white mt-4 font-weight-bold">
  {{ user.username }} Password Manager
</h2>

<div class="container-fluid">
  <div class="row">
    {% for pass in user.passwordset %}
    <div class="col-lg-4 col-md-6 col-sm-6 mt-5 d-flex justify-content-center">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">{{ pass.app }}</h5>
          <p class="card-text text-left" id="copyme{{pass.id}}">
            {{ pass.password }}
          </p>
          <form action="post">
            <a
              class="btn btn-primary"
              onClick="clip_div('copyme{{pass.id}}')"
              >Copy</a
            >
            <button type="submit" class="btn btn-danger" onclick="deletePass('{{pass.id}}')">
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div align="center" class="mt-4">
    <a
      class="btn btn-primary btn-large"
      href="{{ url_for('addPassword') }}"
      role="button"
      >Add Password</a
    >
  </div>
</div>

<script>
  function clip_text(a_string) {
    var input = document.createElement("input");
    input.id = "__copyText__";
    input.value = a_string; // OOPS! document.getElementById(divId).innerText;
    document.body.appendChild(input);
    input.select();
    document.execCommand("copy");
    var txt = input.value;
    input.remove();
    console.log("OK COPIED: '" + txt + "'");
  }
  function clip_div(divId) {
    return clip_text(document.getElementById(divId).innerText);
  }
</script>

<script>
  function deletePass(passId) {
  fetch("/delete-pass", {
    method: "POST",
    body: JSON.stringify({ passId: passId }),
  }).then((_res) => {
    window.location.href = "/secrets";
  });
}
</script>

{% endblock %}
